/* BEGIN GLOBAL */
@font-face {
  font-family: "Raleway-Regular";
  src: url("fonts/Raleway-Regular.ttf");
}

/* BEGIN BODY */
body {
  font-family: Raleway-Regular;
}

/* BEGIN NAV */
nav {
  margin-right: 2.5em;
  margin-left: 2.5em;
}

nav a {
  text-decoration: none;
}

#menu-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#menu {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inscription {
  color: #0065fc;
}

#menu-second {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 480px) {
  #menu {
    width: 30%;
  }

  .menu-large {
    display: block;
  }

  .menu-large a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
    padding-top: 2.5em;
  }

  .menu-small {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #menu {
    width: auto;
  }

  .menu-large {
    display: none;
  }

  .menu-small {
    display: block;
  }

  #menu-second {
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 2.5em;
  }

  #menu-second a:focus {
    border-bottom: 3px solid #0065fc;
    padding-bottom: 2.5em;
  }
}

/* BEGIN HEADER */

header {
  margin-right: 2.5em;
  margin-left: 2.5em;
}

.recherche {
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  display: inline-flex;
  justify-content: space-between;
  font-size: 1em;
}

@media screen and (max-width: 480px) {
  .recherche {
    display: flex;
    width: 100%;
  }

  .search_icon {
    display: flex;
  }

  .search_text {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .search_icon {
    display: none;
  }

  .search_text {
    display: flex;
  }
}

.place_icon {
  width: 3.5em;
  height: 3.5em;
  background: #f2f2f2;
  border-radius: 15px 0px 0px 15px;

  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place_text {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  margin-right: 2em;
}

.filter_text {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  margin-right: 1em;
}

.search_icon {
  width: 3.5em;
  height: 3.5em;
  background: #0065fc;
  border-radius: 15px;

  color: white;
  justify-content: center;
  align-items: center;
}

.search_text {
  width: 8em;
  height: 3.5em;
  background: #0065fc;
  border-radius: 0px 15px 15px 0px;

  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  border: 2px solid rgb(180, 178, 178);
  border-radius: 30px;
  display: inline-flex;
  cursor: pointer;
  font-size: 1em;
  margin: 0.5em;
}

.filter_icon {
  width: 3.5em;
  height: 3.5em;
  background: #deebff;
  border-radius: 50%;

  color: #0065fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -2px;
  font-weight: 900;
}

@media screen and (max-width: 480px) {
  #les_filtres {
    display: flex;
    flex-wrap: wrap;
  }
}

.filter:hover {
  transform: scale(1.02);
  background-color: #deebff;
}

.info_text {
  display: flex;
  align-items: center;
}

.info_icon {
  width: 2em;
  height: 2em;
  min-height: 2rem;
  min-width: 2rem;
  border: 1px solid grey;
  border-radius: 50%;

  color: #0065fc;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 1em;
}

/*BEGIN HEBERGEMENTS A MARSEILLE*/

@media screen and (max-width: 480px) {
  #hebergements {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 480px) {
  #hebergements {
    flex-direction: row;
    justify-content: space-between;
  }
}

#hebergements {
  display: flex;
  margin: 2.5em;
}

#hebergements p {
  margin-left: 1em;
  line-height: 130%;
}

#locations1 {
  background-color: #f2f2f2;
  width: 68%;
  padding: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 480px) {
  #locations1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
  }
}

#location1-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

@media screen and (max-width: 480px) {
  #location1-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

.imgconteneur1 {
  width: 30%;
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid white;
  margin-bottom: 40px;
  box-shadow: 1px 1px 10px rgb(182, 180, 180);
  background-color: white;
  cursor: pointer;
}

.imgconteneur1:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 480px) {
  .imgconteneur1 {
    width: 100%;
  }
}

.imgconteneur1 img {
  width: 100%;
  height: 55%;
  object-fit: cover;
}

#locations2 {
  display: flex;

  flex-direction: column;

  width: 23%;

  background-color: #f2f2f2;
  padding: 20px;

  border-radius: 20px;
}

/*BEGIN HEBERGEMENTS POPULAIRES*/

@media screen and (max-width: 480px) {
  #locations2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

.titre_populaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgconteneur2 {
  display: flex;
  overflow: hidden;

  height: 120px;

  margin-bottom: 40px;

  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgb(182, 180, 180);

  background-color: white;
  cursor: pointer;
}

.imgconteneur2:hover {
  transform: scale(1.02);
}

.imgconteneur2 img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

/* BEGIN ACTIVITES */

#section3-container {
  height: 80vh;

  margin: 2.5em;
}

#section3 {
  height: 90%;

  display: flex;
  justify-content: space-between;
}

#section3 p {
  font-size: 0.8em;
  margin: 4%;
}

.section3-card-container {
  width: 23%;
  height: 100%;

  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgb(182, 180, 180);
  background-color: white;
  cursor: pointer;
}

.section3-card-container img {
  width: 100%;
  height: 90%;

  object-fit: cover;
}

.imgconteneur321 {
  width: 23%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgconteneur32 {
  width: 100%;
  height: 46%;

  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgb(182, 180, 180);
  background-color: white;
  cursor: pointer;
}

.imgconteneur32 img {
  width: 100%;
  height: 80%;

  object-fit: cover;
}

.can-grow:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 480px) {
  #section3 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .section3-card-container {
    width: 100%;
    height: 12%;
  }

  .imgconteneur321 {
    width: 100%;
    margin: 5%;
  }
}

@media screen and (min-width: 480px) {
  #section3-container {
  }
}

/*BEGIN FOOTER*/

footer {
  display: flex;
  justify-content: start;
  background-color: #f2f2f2;
}

footer div {
  width: 30%;

  margin: 2.5em;
}

@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}
